{% extends 'base.html' %}
{% block title %}
收容所數據統計圖表
{% endblock %}
{% block titlemessage %}
<h1>
    認領養數量統計圖
    <small class="text-muted">各縣市認領養數量（隻）</small></h1>
{% endblock %}
{% block content %}

<br>
<center>
<button><a href="/adopt/1">新北市</a></button>
<button><a href="/adopt/2">臺北市</a></button>
<button><a href="/adopt/3">臺中市</a></button>
<button><a href="/adopt/4">臺南市</a></button>
<button><a href="/adopt/5">高雄市</a></button>
<button><a href="/adopt/6">桃園市</a></button>
<button><a href="/adopt/7">宜蘭縣</a></button>
<button><a href="/adopt/8">新竹縣</a></button>
<button><a href="/adopt/9">苗栗縣</a></button>
<button><a href="/adopt/10">彰化縣</a></button>
<button><a href="/adopt/11">南投縣</a></button>
<button><a href="/adopt/12">雲林縣</a></button>
<button><a href="/adopt/13">嘉義縣</a></button>
<br>
<br>
<button><a href="/adopt/14">屏東縣</a></button>
<button><a href="/adopt/15">臺東縣</a></button>
<button><a href="/adopt/16">花蓮縣</a></button>
<button><a href="/adopt/17">澎湖縣</a></button>
<button><a href="/adopt/18">基隆市</a></button>
<button><a href="/adopt/19">新竹市</a></button>
<button><a href="/adopt/20">嘉義市</a></button>
<button><a href="/adopt/21">金門縣</a></button>
</center>


<center>
<table width=800>
  <tr>
      <td>
            <canvas id="myChart" width="800" height="400"></canvas>
      </td>
    </tr>
</table>
</center>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
              {% for item in data %}
                  '{{ item.adopt_year }}{{ item.city }}',
              {% endfor %}

        ],
        datasets: [{
            label: "歷年認領養數量",
            data: [
                {% for item in data %}
                  '{{ item.adopt_num }}',
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 4
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    </script>
{% endblock %}